<h1>CrowdFunder! </h1>
<ul>
	<% @projects.each do |project| %>
	<li>
		<p> <%= link_to project.name, project%></p>
		<p> <%= project.date %></p>
		<img src= "<%= project.url %>">
	</li>
	<% end %>
</ul>
