<h1>CrowdFunder! </h1>


<div id="slideshow">
<% @projects.each_with_index do |project, index| %>
  <% if index == 0 %>
    <img class="active" src="<%= project.url %>">
  <% end %>

  <img src="<%= project.url %>">
<% end %>
</div>
